.px-6 {
  padding: 6rem;
}

.dropdown-hr {
  margin: 0;
}

.dropdown-item {
  padding-top: 0.5rem!important;
  padding-bottom: 0.5rem!important;
}


.acc-error {
  width: 14.5rem;
  text-align: center;
  color: red;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* word-break: break-all; */
}