$secondary-color: #8bd8bc;

.logo {
  width: 12rem;
}

header {
  background-color: #000c19!important;
}

.secondary-button {
  font-size: small !important;
  background-color: $secondary-color!important;
}

.px-6 {
  margin: 0 6rem;
}

.light-bg {
  background-color: #EEF2F7!important;
}

.height-100 {
  height: 100% !important;
}

#carousel {

  img {
    height: 65vh;
    object-fit: cover;
  }

  
}

.card {

  img {
    height: 12rem;
    object-fit: cover;
  }

  .card-title {
    font-size: large;
  }

  .card-text {
    font-size: small;
  }

  .card-body img {
    height: 0.8rem;
  }
}

#search-icon {
  max-height: 1rem !important;
}

header {
  input {
    font-size: small !important;
    width: 16rem !important;
  }

  .search-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

footer {
  a {
    font-size: small !important;
  }
}


/*Modal*/
.save-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16rem;

  background-color: #000c19;
  color: #fff;
  border-radius: 5px;
  padding: 1rem 1.2rem;

  input[type="checkbox"] {
    transform: scale(1.2);
  }

  input[type="text"] {
    width: 100%;
    background-color: transparent;
    border-width: 0px 0px 1px 0px;
  }
  input[type="text"]:focus {
    border-color: #fff;
    outline: 0;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 768px) {
  .px-6 {
    margin: 0;
  }
}